@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Dosis", sans-serif;
}
.hero {
  width: 80%;
  margin: auto;
}
.navbar {
  margin: 30px;
  display: flex;
  align-items: center;
}
ul {
  flex: 1;
  text-align: right;
}
ul li {
  list-style: none;
  display: inline-block;
  margin: 0 25px;
}
ul li a {
  text-decoration: none;
  color: #000;
  padding: 0 10px;
  position: relative;
}
ul li a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 10px;
  background: #f14a60;
  left: 50%;
  transform: translateX(-50%);
  top: -55px;
  transition: 0.5s;
}
ul li a:hover::after {
  width: 100%;
}
.navbar-icons img {
  height: 25px;
  margin-left: 40px;
  cursor: pointer;
}
.navbar-icons {
  margin-left: 40px;
  display: flex;
  align-items: center;
}
.banner {
  display: flex;
  margin-top: 80px;
}
.left-col,
.right-col {
  flex-basis: 50%;
}

.right-col img {
  width: 94%;
  margin-left: 30px;
}
.search-box {
  width: 45%;
  display: flex;
  padding-bottom: 3px;
  border-bottom: 1px solid #ddd;
  margin: 10px 0 30px;
}
.search-box img {
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.search-box input {
  width: 100%;
  margin-left: 15px;
  font-size: 17px;
  border: none;
  outline: none;
}
::placeholder {
  font-family: sans-serif;
  color: #b1b1b1;
}
.left-col h1 {
  font-size: 90px;
}
.left-col h3 {
  font-size: 30px;
}
span {
  color: #f14a60;
}
.left-col p {
  font-size: 14px;
  color: #999;
  margin: 30px 0;
}
.btn button {
  padding: 7px 30px;
  margin-right: 15px;
  outline: none;
  border: 1px solid #fb7381;
  border-radius: 20px;
  color: #fb7381;
  background: transparent;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}
.btn .primary-btn {
  background: linear-gradient(#fb7381, #f14a60);
  box-shadow: 0 2px 15px rgba(248, 38, 103, 0.24);
  color: #fff;
}
.btn {
  margin-bottom: 30px;
}
.social-icons {
  width: 250px;
  text-align: center;
  opacity: 0.4;
  position: relative;
  margin-left: 160px;
}
.social-icons img {
  width: 22px;
  margin: 0 14px;
}
.social-icons a:nth-child(4) img {
  width: 12px;
}
.social-icons::after {
  content: "";
  width: 150px;
  height: 1px;
  background: #000;
  position: absolute;
  left: -160px;
  top: 15px;
}
